//====================================================================================================
.footer {
    border-radius:0 0 48px 48px;
    background: #0A0C0F;
    @include adaptiveValue("padding-top",38 ,20 );
    @include adaptiveValue("padding-bottom", 72, 30 );
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        @include adaptiveValue("gap", 40, 20);
    }
    &__list-title {
        font-weight: 700;
        @include adaptiveValue("font-size", 18, 14);
        line-height: math.div(28 , 18);
    }
    &__link {
        font-weight: 500;
        @include adaptiveValue("font-size", 16, 12);
        line-height: math.div(24 , 16);
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.56);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: rgb(255, 255, 255);
            }
        }
    }
}
.adress-footer {
    font-weight: 500;
    @include adaptiveValue("font-size", 16, 12);
    line-height: math.div(24 , 16);
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.24);
    &__head,
    &__id,
    &__adress-link {
        margin-bottom: rem(10);
    }
    &__adress-link {
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: rgb(255, 255, 255);
            }
        }
    }
}

//====================================================================================================
